@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The Traffic Management System is a fourth year computing project. Designed and Developed :
    <br/>
    <br/>
    Name : Alex Mac Uaid.
    <br/>
    ID: X00118478 
    <br/>
    Year: 2017/2018
    <br/>
    <br/>
    Project Aim: 
    <br/>
    The project aim is to allow the application to engage with a cognitive solution and perform an analysis on the images and for the solution to detect an automobile and for each automobile they will be provided with an ID and a time stamp. <br/> 
    This will then be calculated by the application to detect what the average speed of vehicles are and if there is any significant fluctuation this will be flagged on the Dashboard. 
</p>
