@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Institute of Technology Tallaght Dublin<br />
    Tallaght <br />
    <abbr title="Phone">P:</abbr>
   0851813568
</address>

<address>
    <strong>Alex Mac Uaid X00118478:</strong>   <a href="mailto:uaidmacalex@gmail.com">uaidmacalex@gmail.com</a><br />
</address>